header {
  position: absolute;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navbar {
  padding: 1rem;
  border-bottom: 1px solid #fcf3e34a;
  backdrop-filter: blur(15px);
}

.logo {
  text-align: center;
  font-family: "Marcellus SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.hd-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

header a {
  color: #ffffff;
}

header ul li a:hover {
  text-decoration: solid underline #ffffff 1px;
  transition: 1s;
}

.container-search {
  display: flex;
  align-items: center;
}

.input {
  width: 170px;
  padding: 10px 0px 10px 20px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  background-color: #ffffff;
}

.input:focus {
  opacity: 1;
  width: 200px;
}

.hamburger-menu {
  text-align: right;
  padding: 0.5rem;
}

.hamburger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fcf3e3;
  padding: 0;
}

.hamburger-button:hover {
  background: transparent;
  padding: 0 0.5rem;

}

@media screen and (max-width: 769px) {
  .container-search {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  .menu-toggle {
    display: none;
  }
  .categorias {
    display: flex;
  }
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .container-search span {
    display: none;
  }
  .icons a:first-child,
  .icons a:last-child {
    display: none;
  }
  .categorias {
    display: none;
  }
  .categorias.active {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 50%;
    border-bottom: 1px solid #fcf3e34a;
    backdrop-filter: blur(15px);
  }
}
@media screen and (max-width: 1050px) {
   .container-search{
    display: none;
   }
}